* {
    box-sizing: border-box;
}

body {
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputbar {
    height: 100px;
    width: 500px;
    font-size: 50px;
}

.log {
    font-size: 30px;
}

button {
    width: 100px;
    height: 100px;
    font-size : 30px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkred;
    padding: 20px;
    width: 500px;
}
