* {
    box-sizing: border-box;
}

body {
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputbar {
    height: 110px;
    width: 400px;
    font-size: 50px;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 10px;
    border: 0;

}

.log {
    font-size: 30px;
    margin-top: -100px;
    margin-bottom: 100px;
    border: 0;
    border-radius: 10px;
    opacity: 0.7;
}

button {
    width: 100px;
    height: 100px;
    font-size : 30px;
    border-radius: 20px;
    border: 3px solid black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkred;
    padding: 20px;
    width: 500px;
    border-radius: 30px;
}

.clear, .sum {
    width: 200px;
}

.invis {
    opacity: 0;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}